.blog{
  border: 10px white solid;
  border-radius: 5px;
  background-color: #fffffe;
  color: #a7a9be;
  box-shadow: #777676 1px 5px 5px;
}
.blogsWrapper{
  display: flex;
  flex-direction: row; 
  white-space: nowrap;
  overflow-y: auto;
  overflow-x: hidden;
  gap: 10px;
}
.loading{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30vh;
}

.userWrapper{
  display: flex;
  gap:  10px;
  height: fit-content;
}
.imageWrapper{
  max-width: fit-content;
  border-radius: 50%;
  align-self: center;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
 background-image: url('/wave.svg');
 background-repeat: no-repeat;
 background-size: cover;
}







