.signOut{
    display: flex;
     align-items: center;
     justify-content: center;
     gap: 50px;
    background-color: #0f0e17;
}
.home{
    background-color: #ff8906;
    border-radius: 50%;
}
.home:hover{
    background-color: #aa7000;
}
.profile{
    background-color: #ff8906;
    border-radius: 50%;
    width: 30px;
    overflow: auto;
    height: 30px;
    box-sizing: border-box;
}
